body {
  font-size: 100%;
}

article {
  display: flex;
  flex-direction: column;
  border: 1px solid black;  
  min-width: 50%;
  max-width: 300px;
}

article > h4 {
  text-align: center;
}

.hl {
  color: blue;
  text-transform: uppercase;
}

.info {
  transition: ease-in-out  .5s;
  border: 1px solid lightgray;
  padding: 0 5px;
}

.info:hover {
  background-color: rgb(215, 236, 255)
}

.redacted {
  transition: ease-in-out .1s;
  opacity: 0;
  height: 0;
  font-size: 0;
  /* transform: scale(1,0) */
}

.listOfData {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.details{
  list-style: none;
}

