body {
  font-size: 100%;
}

article {
  transition: ease .3s;
  display: flex;
  flex-direction: column;
  border: 1px solid black;  
  min-width: 50%;
  max-width: 300px;
  border: 1px solid lightgray;
  padding: 0 5px;
  overflow: hidden; 
}

article > h4 {
  text-align: center;
}

.hl {
  color: blue;
  text-transform: uppercase;
}

.timeBanner {
  text-align: center;
  margin-right: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul > li {
  list-style: none;
}

nav ul > li > a {
  text-transform: uppercase;
  font-family: monospace;
  text-decoration: none;
  font-size: 1.5em;
  color: blue;
}

nav ul > li > a:hover {
  transition: .1s;
  color: red;
  text-decoration: underline;
}

article:hover {
  background-color: rgb(215, 236, 255)
}

.redacted {
  transition: ease-in-out .1s;
  opacity: 0;
  height: 0;
  font-size: 0;
}

.listOfData {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.details > ul {
  line-height: 28px;
  font-family: calibri;
}

.details > ul > li{
  list-style: none;
}

.loader {
  border: 15px solid #f3f3f3;
  border-top: 15px solid darkblue;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  animation: samsara 2s linear infinite;
  margin: 0 auto;
}

@keyframes samsara {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

#finder {
  margin-left: 20px;
}

#intro {
  text-align: center;
}

.listOfData {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.about {
  transition-delay: 5s;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid lightgray;
  width: 40%;
  margin: auto;
  border-radius: 10px;
  padding: 10px 2px 10px 2px;
}

.about > h1 {
  text-transform: uppercase;
}

.about > h3 {
   text-align: left;
   padding: 15px 65px 0px 45px;
}

.about > div {
  padding: 15px 65px 5px 45px;
  text-align: justify;
}

.about > div:last-child {
  padding-bottom: 50px;
}